mixin change-multi(path)
     form(
          action=path
          method="POST"
          form-change-multi
        )           
          .d-flex.align-items-start
            .form-group(class="ml-1")
              select(name="type" class="form-control") 
                option(value="active") Hoạt động
                option(value="inactive") Ngừng hoạt động
            .form-group(class="ml-1")
              input(class="form-control d-none" type="text" name="ids" value="")
            button(type="submit" class="btn btn-primary ml-1")  Áp dụng
