doctype html
html
  head
    title #{pageTitle}
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/admin/css/style.css")
  body
    include ../partials/header.pug
    .body 
        include ../partials/sider.pug
        .main
          block main

    //- cài đặt bootstraps4.6
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
    
    //-TinyMce
    script(type="application/javascript" src="/tinymce/tinymce.min.js")
    script(type="application/javascript" src="/admin/js/tinymce.js")
    //-end tinymce
    script(src="/admin/js/script.js")