
.chat-icon(onclick="toggleChat()")
   i(class="fas fa-comments")
.chat-popup(id="chatPopup")
    .chat-header
        span MuKa Shope
        i(class="fas fa-times" onclick="toggleChat()" style="cursor: pointer;")
    .chat-body
       .inner-body 
          .inner-outgoing 
             .inner-namee  Khánh 
             .inner-contentt Em à,anh muốn nói ....
          .inner-incoming 
             .inner-namee NYM 
             .inner-contentt Ah nói đi...
          .inner-outgoing 
             .inner-namee  Khánh 
             .inner-contentt Em à,anh muốn nói ....
          .inner-incoming 
             .inner-namee NYM 
             .inner-contentt Ah nói đi...
          .inner-outgoing 
             .inner-namee  Khánh 
             .inner-contentt Em à,anh muốn nói ....
          .inner-incoming 
             .inner-namee NYM 
             .inner-contentt Ah nói đi...
          .inner-outgoing 
             .inner-namee  Khánh 
             .inner-contentt Em à,anh muốn nói ....
          .inner-incoming 
             .inner-namee NYM 
             .inner-contentt Ah nói đi...
    .chat-footer
        form(type="text" class="inner-form")
            input(type="text" placeholder="Nhập tin nhắn...")
            button(class="")
              i.fa-solid.fa-paper-plane