header.header 
    .container 
      .row
        .inner-logo 
           a(href="/")
              img(src="/images/logo.png" alt="Logo")
        .inner-menu 
          ul  
           li
             a(href="/") Trang chủ
           li 
             a(href="/products") Sản phẩm 
           li 
             a(href="/") Giới thiệu         
        .inner-right 
            .login Đăng nhập 
            .logout Đăng ký

            