extends ../../layout/defaul.pug 
include ../../mixins/box-head.pug

block main
    .container-2
        .row 
            .col-12 
                +box-head("Danh sách sản phẩm")
        .row-2
          each item in products
                .col-md-3.col-sm-6.mb-3
                    .product-item 
                        .inner-image
                            img(
                                src=item.thumbnail
                                alt=item.title
                            )
                        .inner-content 
                            h3.inner-title #{item.title}
                            .inner-price #{item.price}$
                        .actions
                            .button Mua ngay 
                            .button Xem ngay