header.header 
    .container-admin 
        .row.align-item-center 
            .col-3 
                .inner-logo
                   a(href="/admin/deshboard")
                      img(src='/images/logo.png' alt="logo")
            .col-9
                .text-right
                    .avatar-container
                       .thong-tin
                          div(class="fullName") #{user.fullName}
                          img.avatar(src= user.avatar alt=user.fullName)
                       .dropdown-menu
                            a(href=`${prefixAdmin}/profile`) Thông tin tài khoản
                            a(href=`${prefixAdmin}/auth/logout` class="btn btn-danger btn-sm") Đăng xuất
                
            