header.header 
    .container-admin 
        .row.align-item-center 
            .col-3 
                .inner-logo
                   a(href="/admin/deshboard")
                      img(src='/images/logo.png' alt="logo")
            .col-9
            