extends ../../layout/defaul.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
block main
    +alert-success("3000")
    .container.mt-5
      .row 
        a.back-button(href="javascript:void(0);" button-go-back)
            i.fa-solid.fa-circle-left
        .col-12 
           +box-head("Thông tin cá nhân")
      .profile-container.text-center
        .row
          .col-md-4.text-center
            .avatar2
              img(src=user.avatar class="img-fluid rounded-circle")
            hr
            button.btn.btn-primary Cập Nhật
          .col-md-8.text-start
            h2 #{user.fullName}
            p
              strong Email: 
              | #{user.email}