extends ../../layout/user.pug

block main
    .error
        .container-error
            .loi1 404
            .loi2 Oops! Page Not Found
            .loi3 The page you're looking for doesn't exist or has been moved.
            a(href="/" onclick="history.back()" class="error-404") ← Go Back Home